<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/lib/bootstrap/css/bootstrap.min.css" async>
    <link rel="stylesheet" type="text/css" href="./assets/lib/font-awesome/css/font-awesome.min.css" async>
    <link rel="stylesheet" type="text/css" href="./assets/lib/slick-1.8.0/slick/slick.css" async>
    <link rel="shortcut icon" type="image/png" href="./assets/images/logo.png"/>

    <link rel="stylesheet" href="./assets/lib/mcustomscrollbar/jquery.mcustomscrollbar.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant:300,400,500,700&display=swap" rel="stylesheet">
    <title> {{ page_title }}</title>

    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <base href="./">
    
</head>
<body class="body-wrapper">
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>

    <script src="./assets/lib/jquery/jquery.min.js"></script>
    <script src="./assets/lib/slick-1.8.0/slick/slick.min.js" defer></script>
    <script src="./assets/lib/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="./assets/lib/mcustomscrollbar/jquery.mcustomscrollbar.concat.min.js"></script>
    <script src="./assets/lib/tweenmax/tweenmax.min.js"></script>
    <script src="./scripts/index.js" defer></script>


{% block scripts %}
{% endblock %}
</body>
</html>
