
<div class="cosmetic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="cosmetic__header">
                    <table class="cosmetic__header--content">
                        <tr>
                            <td>
                                <img src="./assets/images/logo.png" alt="">
                            </td>
                            <td>
                                <p>DƯỢC PHẨM NGỌC DIỆP</p>
                                <p>TRỊ DỨT VIÊM NANG LÔNG - XUA TAN NỖI LO VỀ TÓC</p>
                            </td>
                        </tr>
                    </table>
                    <table class="cosmetic__header--navigation">
                        <tr class="pc">
                            <td><a href="#">khuyến mãi <br> nổi bật</a></td>
                            <td class="active"><a href="#">kem ngừa <br> viêm nang lông</a></td>
                            <td><a href="#">tinh dầu <br> dưỡng tóc</a></td>
                            <td><a href="#">viện tóc <br> ngọc diệp</a></td>
                            <td><a href="#">về chúng tôi</a></td>
                        </tr>
                        <tr class="mobile">
                            <td><a href="#">khuyến mãi nổi bật</a></td>
                            <td class="active"><a href="#">kem ngừa viêm nang lông</a></td>
                            <td><a href="#">tinh dầu dưỡng tóc</a></td>
                            <td><a href="#">viện tóc ngọc diệp</a></td>
                            <td><a href="#">về chúng tôi</a></td>
                        </tr>
                    </table>
                </div>
                <div class="cosmetic__left">
                    <div class="cosmetic__slider">
                        <div class="cosmetic__slider-item">
                            <div class="item">
                                <img src="./assets/images/Asset 49.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/images/Asset 49.png" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/images/Asset 49.png" alt="">
                            </div>
                        </div>
                        <div class="cosmetic__slider-nav">
                            <div class="item">
                                <p class="text text-1">Bị viêm nang lông nhưng mãi không dứt, tái đi tái lại nhiều lần</p>
                                <p class="text text-2"> 
                                    <img src="./assets/images/arrow-green.png" alt="">
                                 Đã có <strong>kem ngừa viêm nang lông Ngọc Diệp </strong>hỗ trợ</p>
                            </div>
                            <div class="item">
                                <p class="text text-1">Bị viêm nang lông nhưng mãi không dứt, tái đi tái lại nhiều lần</p>
                                <p class="text text-2"> 
                                    <img src="./assets/images/arrow-green.png" alt="">
                                 Đã có <strong>kem ngừa viêm nang lông Ngọc Diệp </strong>hỗ trợ</p>
                            </div>
                            <div class="item">
                                <p class="text text-1">Bị viêm nang lông nhưng mãi không dứt, tái đi tái lại nhiều lần</p>
                                <p class="text text-2"> 
                                    <img src="./assets/images/arrow-green.png" alt="">
                                 Đã có <strong>kem ngừa viêm nang lông Ngọc Diệp </strong>hỗ trợ</p>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="cosmetic__right">
                    <div class="cosmetic__right--top">
                        <img class="flower-right" src="./assets/images/flower-2.png" alt="">
                        <h1 class="title">DỨT VIÊM NANG LÔNG - DƯỠNG TÓC DÀY KHỎE</h1>
                        <ul class="list">
                            <li>
                                <span>cam kết dứt điểm viêm nang lông và mụn lưng - không tái phát</span>
                            </li>
                            <li>
                                <span>dược phẩm chống tóc rụng, tóc bạc - hồi phục nhanh, tóc dày và khỏe</span>
                            </li>
                            <li>
                                <span>chiết xuất dược liệu, đã được bộ y tế cấp phép & đạt chứng nhận GMP 
                                (chứng nhận đảm bảo quy trình, chất lượng và hiệu quả của sản phẩm dược phẩm)</span>
                            </li>
                            <li>
                                <span>khuyến mãi tri ân khách hàng: giảm 5% cho lần mua tiếp theo(*)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="cosmetic__right--middle">
                        <h1 class="title">ĐĂNG KÝ ĐỂ NHẬN TƯ VẤN MIỄN PHÍ TỪ BÁC SĨ</h1>
                        <form class="form form-submit">
                            <input type="text" name="name" placeholder="Họ và tên">
                            <input type="number" name="phone" placeholder="Số điện thoại">
                            <input type="text" placeholder="Sản phẩm bạn quan tâm">
                            <input type="text" placeholder="Sơ lược tình trạng tóc và nang lông(tóc rụng, bạc sớm,...)">
                            <div class="submit">
                                <button class="btn-submit submit-all">Đăng kí ngay</button>
                            </div>
                        </form>
                    </div>
                    <div class="cosmetic__right--bottom">
                        <img class="flower-right" src="./assets/images/flower-1.png" alt="">
                        <table>
                            <tr>
                                <td>
                                    <img class="logo-footer" src="./assets/images/logo.png" alt="">
                                </td>
                                <td>
                                    <p class="title">LIÊN HỆ VỚI CHÚNG tôi</p>
                                    <p class="address mail"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        duocphamngocdiep.vn
                                    </p>
                                    <p class="address phone"><i class="fa fa-phone" aria-hidden="true"></i>
                                        0868.955.355 - 0868.955.155
                                    </p>
                                </td>
                            </tr>
                        
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>