$color-blue : #11cfff;
$color-purple : #ba4278;
$color-yellow : #fff3ae;

// font-family: 'iCielCadena';

//animation

@-webkit-keyframes animate-button {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }
}

@-moz-keyframes animate-button {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }
}

@keyframes animate-button {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }
}

.cosmetic{
    .col-md-6{
        padding: 0 ;
    }
    &__header{
        &--content{
            width: 100%;
            background-size: 100% 100%;
            height: 155px;
            background-image: url('../assets/images/header_01.png');
            td{
                &:first-child{
                    padding-left: 20px;
                    @media (max-width: 767px) {
                        text-align: center;
                        padding: 0;
                        padding-top: 15px;
                     }
                    img{
                        width: 100%;
                        max-width: 100px;
                    }
                }
                &:last-child{
                    vertical-align: top;
                    padding-top: 15px;
                    @media (max-width: 767px) {
                        padding-bottom: 15px;
                    }
                }
                @media (max-width: 767px) {
                    display: block;
                }
            }
            p{
                color: #256D40;
                font-family: 'Cormorant';
                font-size: 30px;
                font-weight: bold;
                margin: 0;
                text-align: right;
                padding-right: 20px;
                text-shadow: 1px 1px 3px #474747bf;
                @media (max-width: 767px) {
                   text-align: center;
                   padding-right: 0;
                }
                @media (max-width: 480px) {
                    font-size: 25px;
                 }
                &:last-child{
                    font-size: 20px;
                    @media (max-width: 480px) {
                        font-size: 15px;
                     }
                }
            }
        }
        &--navigation{
            width: 100%;
            background-color: #306973;
            .pc{
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .mobile{
                display: none;
                @media (max-width: 767px) {
                    display: block;
                }
            }
            td{
                @media (max-width: 767px) {
                    display: block;
                }
                a{
                    
                    color:#fff;
                    display: block;
                    text-transform: uppercase;
                    padding: 15px 0;
                    // padding: 15px 34px;
                    font-size: 14px;
                    text-align: center;
                    @media (max-width: 767px) {
                        padding: 15px 0
                    }
                }
                &.active{
                    a{
                        color:#256D40;
                        background-image: url('../assets/images/bg-header.png');
                        background-size: 100% 100%
                    }
                }
            }
        }
    }
    &__slider-nav{
        .item{
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
            .text{
                font-family: 'iCielGotham-Medium';
                font-size: 25px;
                color:#256D40;
                text-align: center;
                margin: 0;
                @media (max-width: 1400px) {
                    font-size:20px;
                }
                @media (max-width: 767px) {
                    font-size: 18px;
                }
                &-1{}
                &-2{
                    
                    img{
                        max-width: 15px;
                        display: inline;    
                        margin-top: -5px;
                    }
                }
            }
        }
    }
    .slick-slide{
        cursor: pointer;
        outline: none
    }
    .slick-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
        @media (max-width: 767px) {
            max-width: 30px;
        }
        &.cosmetic__pre-button{
            left: 15px;
        }
        &.cosmetic__next-button{
            right: 15px;
        }
    }
    .slick-dots{
        padding: 0;
        text-align: center;
        li{
            list-style: none;
            display: inline-block;
            margin: 12px 5px;
            @media (max-width: 767px) {
                margin: 5px;
            }
            button{
                font-size: 0;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background-color: #CEDFCD;
                border: none;
                outline: none;
                @media (max-width: 767px) {
                    height: 10px;
                    width: 10px;;
                }
            }
            &.slick-active{
                button{
                    background-color: #306973
                }
            }
        }
    }
    &__left{
        img{
            width: 100%;
        }
    }
    &__right{
        &--top{
            background-color: #306973;
            color:#fff;
            padding-left: 35px;
            padding-bottom: 30px;
            padding-top: 25px;
            position: relative;
            .flower-right{
                position: absolute;
                // right: -30px;
                // top: -54px;
                top: 0;
                right: 0;
                max-width:140px
            }
            .title{
                font-family: 'Cormorant';
                font-size: 30px;
                margin: 0;
                padding-bottom: 30px;
                @media (max-width:1400px) {
                    font-size: 25px;
                }
            }
            .list{
                
                list-style: none;
                padding: 0;
                
                li{
                    position: relative;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &::before{
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-top: 7px solid transparent;
                        border-left: 15px solid #fff;
                        border-bottom: 7px solid transparent;
                        vertical-align: middle;
                        top: 3px;
                        position: absolute;
                    }
                    span{
                        padding-left: 25px;
                        display: inline-block;
                        max-width: calc(100% - 45px);
                        padding-right: 50px;
                        font-size: 18px;
                        font-family: 'iCielGotham-Medium';
                        @media (max-width:1400px) {
                            font-size: 14px;
                        }
                        @media (max-width: 767px) {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        &--middle{
            background-size: 100% 100%;
            background-image: url('../assets/images/bg-form.jpg');
            .title{
                font-family: 'Cormorant';
                font-size: 30px;
                margin: 0;
                padding-top: 30px;
                font-weight: bold;
                padding-bottom: 30px;
                color: #256D40;
                text-align: center;
                padding-left: 90px;
                padding-right: 90px;
                @media (max-width:1400px) {
                    font-size: 25px;
                }
                @media (max-width:600px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
            .form{
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                padding-left: 90px;
                padding-right: 90px;
                @media (max-width:600px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
                input{
                    width: 100%;
                    height: 37px;
                    color: #256D40;
                    border-radius: 5px;
                    background-color: #fff;
                    border:none;
                    margin-bottom: 7px;
                    outline: none;
                    font-size: 16px;
                    padding-left: 22px;
                    @media (max-width: 767px) {
                        padding-left: 15px;
                        font-size: 14px
                    }
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: #256D40;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        color: #256D40;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        color: #256D40;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        color: #256D40;
                    }
                }
                .submit{
                    text-align: center;
                    .btn-submit{
                        height: 43px;
                        width: 155px;
                        background-color: #256D40;
                        border-radius: 5px;
                        border: 1px solid #256D40;
                        font-size: 16px;
                        color:#fff;
                        transition: all 0.5s;
                        margin-top: 23px;
                        margin-bottom: 15px;
                        &:hover{
                            background-color: #fff;
                            color:#256D40;
                        }
                    }
                }
                
            }
        }
        &--bottom{
            padding-top: 70px;
            padding-bottom: 70px;
            position: relative;
            @media (max-width: 767px) {
                padding-top: 50px;
            }
            .flower-right{
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 270px;
                z-index: -1;
                @media (max-width:767px) {
                    max-width: 170px;
                }
            }
            table{
                width: 100%;
                td{
                    // @media (max-width: 767px) {
                    //     display: block
                    // }
                    &:first-child{
                        width: 225px;
                        text-align: right;
                        @media (max-width: 1400px) {
                            width: 160px;
                        }
                        @media (max-width: 767px) {
                            width: 100px;
                            margin: 0 auto;
                            padding-bottom: 20px;
                            padding-left: 10px;
                        }
                        @media (max-width: 480px) {
                            width: 90px;
                            
                        }
                    }
                    &:last-child{
                       padding-left: 50px;
                       @media (max-width: 767px) {
                            padding-left:20px;
                        }
                    }
                }
                .logo-footer{
                    max-width: 195px;
                    width: 100%;
                    padding-left: 30px;
                    @media (max-width: 767px) {
                        padding-left:0;
                    }
                }
                .title{
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                p{
                    color: #256D40;
                    font-size: 18px;
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
                i{
                    color:#BFBFB6;
                    margin-right: 10px;
                    font-size: 25px;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
                .address{
                   
                    
                }
            }
        }
    }
}