
@font-face {
  font-family: 'iCielCadena';
  src: url('iCielCadena.eot?#iefix') format('embedded-opentype'),  url('iCielCadena.woff') format('woff'), url('iCielCadena.ttf')  format('truetype'), url('iCielCadena.svg#iCielCadena') format('svg');
  font-weight: normal;
  font-style: normal;
}
